.carousel-container {
    position: relative;
    width: 320px;
    height: 300px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-color: darksalmon;
    box-shadow: 0 0 2px 1px rgba(85, 45, 8, 0.685);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:"video description";
  }
  .carousel__face .preview-img{
      width:100%;
      height: 100%;
      object-fit: cover;
  }
  .carousel__face .description{
      display: grid;
      grid-template-rows: auto 1fr;
      padding: 0 5px;
  }
  .carousel__face .description .avatar{
    width: 100%;
    padding: 0;
}
.carousel__face .description .name:hover{
    color: gray;
}
.carousel__face .description .naming-video{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: max-content;
    align-content: flex-start;
}
  
.carousel__face .description .description-text {
    font-size: 0.5rem;
    overflow-y: hidden;
}
  
 
  .carousel__face:nth-child(1) {
    transform: rotateY(  0deg) translateZ(430px); 
}
  .carousel__face:nth-child(2) { 
      transform: rotateY( 40deg) translateZ(430px); 
    }
  .carousel__face:nth-child(3) {
    transform: rotateY( 80deg) translateZ(430px); 
}
  .carousel__face:nth-child(4) {
    transform: rotateY(120deg) translateZ(430px); 
}
  .carousel__face:nth-child(5) { 
   transform: rotateY(160deg) translateZ(430px); 
}
  .carousel__face:nth-child(6) { 
   transform: rotateY(200deg) translateZ(430px); 
}
  .carousel__face:nth-child(7) { 
   transform: rotateY(240deg) translateZ(430px); 
}
  .carousel__face:nth-child(8) {
    transform: rotateY(280deg) translateZ(430px); 
}
  .carousel__face:nth-child(9) {
    transform: rotateY(320deg) translateZ(430px); 
}
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  