.main-header{
    display: grid;
    grid-template-areas:
    "logo search notification";
    grid-template-columns: 1fr auto 1fr;
    border-bottom: solid 1px gray;
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.45);
}
.logo{
    grid-area: logo;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}
.logo img{
    margin: auto 10px auto 10px;
}
.logo .logo-name{
    font-size: 1.5rem;
    font-weight: bolder;
    color: red;
}
.search{
    grid-area: search;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search .search-field{
    height: 2rem;
    width:25vw;
    border-radius: 5px 0 0 5px;
    border: solid darkgrey 1px;
    padding: .5rem;
}
.search form{
    display: flex;
}

.search .search-button {
 
    width: 2rem;
    height: 2rem;
    border: none;  
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color:whitesmoke;
  }
  .search .micro{
    height: 1.8rem;
    width: 1.8rem;
    margin-left: .3rem;
    cursor: pointer;
}
.search .micro,
.notification .bell,
.notification .paw
{
   transition: .5s;
}
.search .micro:hover,
.notification .bell:hover,
.notification .paw:hover{
    filter:brightness(0.5);
}
.notification{
    grid-area: notification;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}
.notification .bell{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.notification .paw{
    font-size: 1.8rem;
    color: cadetblue;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.drop-down-content{
    display: none;
    position: absolute;
    top: var(--header-height);
    right: 0;
    margin-right: .5rem;
    background-color:whitesmoke;
    z-index: 100;
}

.notification .drop-down-menu {
    height: 100%;
    display: flex;
    align-items: center;
}
.notification .drop-down-menu:hover .drop-down-content{
    display: block;
}

.drop-down-content >ul{
    color: black;
    text-decoration:none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 10px 0 0;
    padding: 0;
    border:solid 2px lightgrey;
    border-radius: 5px 5px 5px 5px;
}
.drop-down-content {
    font-size: 1.3rem;
    margin: 0 .5rem;
}

.drop-down-content li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.drop-down-content .li-icon{
    margin:0 0.4rem 0 ;
    height: 1.2rem;
    width: 1.2rem;
}
.drop-down-content li:hover{
    background-color:lightgrey;
}
.drop-down-content .logout{
    color: red;
    border-top: solid 1px grey;
}
.drop-down-content .log{
    fill:red;
}