.main-sidebar {
    display: grid;
}
.stream-wrapper{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    cursor: pointer;
    overflow: auto;
}
.streamer-line{
    border-bottom: solid 1px lightslategrey;
    display:grid;
    height: var(--stream-line-height);
    align-items: center;
}
.streamer-line:last-child{
    border-bottom:none ;
}
.streamer-line:hover{
    background-color: lightgrey;
}
.stream-img{
    width: 80%;
    margin: auto;
}
.stream-wrapper::-webkit-scrollbar{
    width:5px;
}
.stream-wrapper::-webkit-scrollbar-thumb{
    background-color: chocolate;
}


@media all and (max-width:1200px) {
    .main-sidebar {
        width:var(--sidebar-min);
    }
    .main-wrapper {
        padding-left: var(--sidebar-min);
    }

    .info-wrapper,
    .stream-name,
    .views {
        display: none;
    }
    
}

@media all and (min-width:1200px) {
    .main-sidebar {
        width:var(--sidebar-max);
        grid-template-rows: auto 150px;
    }
    .main-wrapper {
        padding-left: var(--sidebar-max);
    }
    .streamer-line{
        grid-template-columns: var(--sidebar-min) 1fr auto;
    }
    .stream-name{
        font-size: 1.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
    }
    .views{
        display: flex;
        align-items: center;
        padding-right: 10px;
    }
    .views.active:before {
        content:"\A";
        width:10px;
        height:10px;
        margin: 0 5px;
        border-radius:50%;
        background: #b83b3b;
        display:inline-block;
        box-shadow: 0 0 0 rgba(231, 42, 42, 0.4);
        animation: pulse 2s infinite;
    }
    
    .info-wrapper{
        padding: 15px;
        border-top: solid 2px lightslategrey;
    }
    .info-container{
        display:grid;
        grid-template-areas: 
        "text text text"
        "tg inst fb";
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: rgba(255,255,255,0.2);
    }
    .info-container > * {
        display: flex;
        width:100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .info-container > span{
        font-size: 2rem;
        cursor: pointer;
    }
    .info-container > span:hover{
        color: cadetblue;
    }
    .info-container .text{
        grid-area: text;
        font-weight: bold;
    }
    .info-container .icon-tel{
        grid-area: tg;
    }
    .info-container .icon-inst{
        grid-area: inst;
    }
    .info-container .icon-fb{
        grid-area: fb;
    }

    @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 rgba(231, 42, 42, 0.4);
        }
        70% {
            box-shadow: 0 0 0 10px rgba(231, 42, 42, 0);
        }
        100% {
            box-shadow: 0 0 0 0 rgba(231, 42, 42, 0);
        }
    }
    
}