.video-content{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: center;
}
.video-content .item {
    display: grid;
    grid-template-rows: auto 50px;
    grid-gap: 10px;
}
.preview{
    width:100%;
    height: auto;
    display: block;
    position: relative;
    cursor: pointer;
}
.preview .preview-img{
    display: block;
    width: 100%;
}
.preview .preview-paw{
    display: none;
    animation: fadeIn ease .4s;
}
.preview:hover .preview-paw{
    position:absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    color:darksalmon;
    background-color: rgba(0, 0,0,0.5);
}
.preview .live{
    position: absolute;
    top:0;
    left:0;
    font-size: 1rem;
    font-weight: bolder;
    margin: 10px 0 0 10px;
    padding: 0 5px 0 5px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}

.preview .additional{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 10px 5px 0;
    padding: 0 5px 0 5px;
    font-size: .8rem;
    color: white;
    background-color:rgba(0, 0,0,.5);
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
.video-content .description{
    display: grid;
   grid-auto-flow: column;
   font-size: .8rem;
   grid-gap: 5px;
   cursor: pointer;
}
.description .avatar{
    width: 50px;
    height: 50px;
    padding: 0 5px 0 10px;
}
.description .naming-video{
    display: grid;
    grid-template-rows: auto auto;
    align-content: space-evenly;
}
.naming-video .name{
    font-weight: bolder;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.naming-video:hover{
    cursor: pointer;
}
.naming-video .name:hover{
    color:darksalmon;
}
.naming-video .author:hover{
    color:cadetblue;
}
.description .dots{
    display: flex;
    justify-content: space-around;
}
.description .dots-img{
    width: 30;
    height: 40px;
    padding: 10px 0 0 0;
}